# Ignore runtime state files
agent_log_state.json

# Ignore actual log files
*.log
honeynet_configs/**/error.log

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

*.zip
waf_tensorboard_logs/

# IDE settings
.vscode/
.idea/
