# Ignore runtime state files
agent_log_state.json

# Ignore actual log files
*.log
honeynet_configs/**/error.log
honeynet_configs/**/access.log
waf_config/default.conf.bak
honeypot_config/default.conf.bak

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/

# Distribution / packaging
*.zip
waf_tensorboard_logs/
saved_models/
# IDE settings
.vscode/
.idea/
*.venv


